/* App.css */
/* Bootstrap styles */
@import "./node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Custom styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さいっぱいに表示するため */
  margin: 0;
}

.container {
  width: 400px; /* 任意の横幅 */
}

h1 {
  color: #007bff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
